@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --background: hsl(207, 26%, 17%);
  --background-nav: rgb(37, 54, 63);
  --color: white;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background: var(--background);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-nav);
  -webkit-box-shadow: 0px 0.1px 10px -3px black;
          box-shadow: 0px 0.1px 10px -3px black;
}
nav div {
  margin: auto 20px;
}
nav div p {
  color: var(--color);
  font-weight: 600;
}
nav div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  gap: 7px;
}
nav div button svg {
  display: inline;
  width: 15px;
  fill: white;
}
nav div button p {
  margin: 0;
  font-size: 14px;
}