@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --background: hsl(207, 26%, 17%);
  --background-nav: rgb(37, 54, 63);
  --color: white;
}

.main-country {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  margin-top: 40px;
  padding-bottom: 50px;
}
.main-country button {
  background-color: var(--background-nav);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: 0px 0px 10px -4px black;
          box-shadow: 0px 0px 10px -4px black;
}
.main-country button svg {
  width: 17.5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 5px;
}
.main-country > div {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4vw;
}
.main-country > div > div {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main-country > div > div h1 {
  font-weight: 800;
  margin-bottom: 25px;
  font-size: 35px;
  margin-left: 25px;
}
.main-country > div .details {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  padding: 0 !important;
  gap: 7.5vw;
}
.main-country > div .details ul {
  list-style: none;
}
.main-country > div .details ul li {
  margin-bottom: 15px;
  font-size: 90%;
  width: 100%;
}
.main-country > div .details ul li span {
  font-weight: 800;
}
.main-country > div img {
  width: 50%;
}
.main-country > div .borders {
  gap: 15px;
  margin-left: 32px;
  gap: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-country > div .borders p {
  margin: 0;
  white-space: pre;
}
.main-country > div .borders p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.main-country > div .borders button {
  font-size: 15px;
  width: 100px;
  -webkit-box-shadow: 0px 0px 10px -4px black;
          box-shadow: 0px 0px 10px -4px black;
}

@media (max-width: 900px) {
  .main-country {
    padding-right: 50px;
    padding-left: 50px;
  }
  .main-country > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    gap: 40px;
  }
  .main-country > div img {
    width: 100%;
  }
  .main-country > div > div h1 {
    margin: 0;
    margin-bottom: 15px;
  }
  .main-country > div > div .details {
    gap: 0;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .main-country > div > div .details ul {
    padding-left: 0 !important;
  }
  .main-country > div > div .details ul li {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .main-country {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-country > div > div .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .main-country > div > div .details ul li {
    font-size: 15px;
  }
}
@media (min-width: 1700px) {
  .main-country button {
    font-size: 30px;
  }
  .main-country button svg {
    width: 30px;
    margin-right: 10px;
  }
  .main-country > div h1 {
    font-size: 40px !important;
  }
  .main-country > div ul li {
    font-size: 25px !important;
  }
  .main-country .borders p {
    font-size: 25px !important;
  }
  .main-country .borders button {
    font-size: 20px;
    font-weight: 600;
  }
}
:root {
  --background: hsl(207, 26%, 17%);
  --background-nav: rgb(37, 54, 63);
  --color: white;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

* {
  color: var(--color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main-country {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0;
}
body nav {
  width: 100vw;
}

nav {
  width: 100%;
  background-color: var(--background-nav);
  -webkit-box-shadow: 0px 0.1px 10px -3px black;
          box-shadow: 0px 0.1px 10px -3px black;
}
nav div {
  padding-left: 20px;
  padding-right: 20px;
}
nav div p {
  color: var(--color);
  font-weight: 600;
}
nav div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  gap: 7px;
}
nav div button svg {
  display: inline;
  width: 15px;
  fill: var(--color);
}
nav div button p {
  margin: 0;
  font-size: 14px;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 50px;
}
main form {
  gap: 10px;
}
main form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  background-color: var(--background-nav);
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  border-radius: 5px;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main form .input svg {
  width: 20px;
  fill: var(--color);
}
main form .input input {
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 50px;
  width: 90%;
}
main form select {
  background-color: var(--background-nav);
  border: 0;
  outline: 0;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 10px solid var(--background-nav);
  border-radius: 5px;
}
main .countries {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 90px;
}
main .countries .cards {
  background-color: var(--background-nav);
  border-radius: 5px;
  -webkit-box-shadow: 0.1px 0px 15px -5px black;
          box-shadow: 0.1px 0px 15px -5px black;
}
main .countries .cards a {
  text-decoration: none;
}
main .countries .cards img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .countries .cards ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 30px;
}
main .countries .cards ul li {
  font-size: 17.5px;
  padding-bottom: 5px;
  font-weight: 300;
}
main .countries .cards ul li span {
  font-weight: 800;
}
main .countries .cards p {
  padding-left: 10px;
  margin-bottom: 0 !important;
  margin-top: 20px !important;
  font-weight: 800;
  color: var(--color);
  font-size: 20px;
}

@media (max-width: 580px) {
  nav div {
    margin: auto 5px;
  }

  main {
    margin: auto 5px;
    margin-bottom: 15px;
  }
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  main form .input {
    width: 100%;
  }
  main form .input input {
    width: 90%;
  }
  main form .input svg {
    width: 30px;
  }
  main form select {
    background-color: var(--background-nav);
    border: 0;
    outline: 0;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 10px solid var(--background-nav);
  }
}
@media (max-width: 680px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 20px;
  }
}
@media (min-width: 1600px) {
  nav > div {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  nav > div p {
    font-size: 25px;
  }
  nav > div button p {
    font-size: 25px;
  }
  nav > div button svg {
    width: 27px;
  }
}