@use "./country";
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
$font: "Nunito Sans", sans-serif;
:root {
  --background: hsl(207, 26%, 17%);
  --background-nav: rgb(37, 54, 63);
  --color: white;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // font-family: $font;
}
* {
  color: var(--color);
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--background);
}
body {
  display: flex;
  flex-direction: column;
  .main-country {
    justify-content: center;
    margin-right: 0;
  }
  nav {
    width: 100vw;
  }
}
nav {
  width: 100%;
  background-color: var(--background-nav);
  box-shadow: 0px 0.1px 10px -3px black;
  div {
    padding-left: 20px;
    padding-right: 20px;
    p {
      color: var(--color);
      font-weight: 600;
    }
    button {
      display: flex;
      background-color: transparent;
      border: 0;
      gap: 7px;
      svg {
        display: inline;
        width: 15px;
        fill: var(--color);
      }
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column;
  gap: 50px;
  form {
    gap: 10px;
    .input {
      display: flex;
      flex-flow: row-reverse;
      background-color: var(--background-nav);
      padding-left: 20px;
      padding-right: 20px;
      gap: 10px;
      border-radius: 5px;
      width: 400px;
      justify-content: space-between;
      svg {
        width: 20px;
        fill: var(--color);
      }
      input {
        border: 0;
        outline: 0;
        background-color: transparent;
        height: 50px;
        width: 90%;
      }
    }
    select {
      background-color: var(--background-nav);
      border: 0;
      outline: 0;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-right: 10px solid var(--background-nav);
      border-radius: 5px;
    }
  }
  .countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 90px;
    .cards {
      background-color: var(--background-nav);
      border-radius: 10px;
      box-shadow: 0.1px 0px 15px -5px black;
      a {
        text-decoration: none;
      }
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      ul {
        list-style: none;
        padding-left: 10px;
        margin-top: 30px;
        li {
          font-size: 17.5px;
          padding-bottom: 5px;
          font-weight: 300;
          span {
            font-weight: 800;
          }
        }
      }
      p {
        padding-left: 10px;
        margin-bottom: 0 !important;
        margin-top: 20px !important;
        font-weight: 800;
        color: var(--color);
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 580px) {
  nav {
    div {
      margin: auto 5px;
    }
  }
  main {
    margin: auto 5px;
    // margin-top: 80px;
    margin-bottom: 15px;
    form {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      .input {
        width: 100%;
        input {
          width: 90%;
        }
        svg {
          width: 30px;
        }
      }
      select {
        background-color: var(--background-nav);
        border: 0;
        outline: 0;
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 10px solid var(--background-nav);
      }
    }
  }
}
@media (max-width: 680px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
    form {
      flex-flow: column;
      gap: 20px;
    }
  }
}

@media (min-width: 1600px) {
  nav {
    > div {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-left: 50px !important;
      padding-right: 50px !important;
      p {
        font-size: 25px;
      }
      button {
        p {
          font-size: 25px;
        }
        svg {
          width: 27px;
        }
      }
    }
  }
}
